.App-footer {
    flex: 0 0 20px;
    color: #ffe6b3;
    background-color: black;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 1em;
    padding: 5px;
    width: 100%;
  }